.sidebar {
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 60px;
  z-index: 1;
  box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  transition: 0.5s ease-in-out;
  background-color: hsl(240, 2%, 12%);
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 20px;
}
.sticky {
  position: sticky;
  top: 50px;
}
.sidebarInfo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.avatarBox {
  background-image: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  border-radius: 20px;
  position: relative;
  width: 170px;
}

.avatarBox img {
  width: 100%;
  height: 100%;
}
.infoContent .name {
  white-space: nowrap;
  text-align: center;
  color: hsl(0, 0%, 98%);
  letter-spacing: -0.25px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 10px;
}
.infoContent .title {
  margin: auto;
  padding: 5px 18px;
  background-color: hsl(240, 1%, 17%);
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  border-radius: 8px;
  width: max-content;
  font-size: 16px;
}

.sidebarInfoMore {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}
.separator {
  width: 100%;
  height: 1px;
  background: hsl(0, 0%, 22%);
  margin: 32px 0;
}
.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 7px;
  margin-bottom: 8px;
}
.socialItem .socialLink {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 22px;
}
.socialItem {
  list-style: none;
}
.contactsList {
  display: grid;
  padding-left: 0px;
  grid-template-columns: 1fr;
  gap: 18px 15px;
}
.separator:last-of-type {
  margin: 8px 0;
  opacity: 0;
}
.contactItem {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.iconBox {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  font-size: 18px;
  background-image: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  color: hsl(45, 100%, 72%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}
.contactInfo {
  max-width: calc(100% - 64px);
  width: calc(100% - 64px);
}
.contactTitle {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.contactInfo :is(.contactLink, time, address) {
  font-size: 14px;
  font-weight: 300;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}
.activeStatus {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #39ff14;
  animation: 1.5s pulse infinite ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #39ff14;
  }
  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}

@media (max-width: 1280px) {
  .sidebarInfo {
    flex-direction: row;
  }
  .avatarBox {
    width: 103px;
    height: 101px;
  }
  .infoContent .title {
    margin: 0px;
  }
  .button {
    margin-top: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 2px;
    margin-bottom: -3px;
  }
  .button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    border-top-right-radius: 18px;
    font-size: 18px;
    padding: 15px 23px;
    background-image: linear-gradient(
      to top right,
      hsl(0deg 0% 25% / 81%) 0%,
      hsl(0deg 0% 10%) 50%
    );
    color: hsl(45, 100%, 72%);
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: hsl(240, 2%, 13%);
    border-radius: inherit;
    z-index: -1;
  }
  .sidebar {
    position: relative;
  }
  .socialList {
    justify-content: start;
  }
  .separator:last-of-type {
    opacity: 1;
  }
  .contactsList {
    display: flex;
    flex-direction: row;
  }
  .contactItem {
    min-width: 36%;
  }
}
@media (max-width: 800px) {
  .iconBox {
    height: 45px;
    width: 45px;
  }
  .contactInfo :is(.contactLink, time, address) {
    font-size: 13px;
  }
  .contactTitle {
    font-size: 11px;
  }
  .contactItem {
    gap: 8px;
  }
  .contactList {
    gap: 18px 9px;
  }
  .contactItem {
    min-width: 35%;
  }
}
@media (max-width: 576px) {
  .contactsList{
    flex-direction: column;
  }
  .button {
    font-size: 13px;
    padding: 10px 14px;
  }
  .sidebar {
    padding: 12px;
    padding-top: 16px;
  }
  .avatarBox {
    width: 80px;
    height: 77px;
    border-radius: 12px;
  }
  .infoContent .name {
    font-size: 22px;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 0px;
  }
  .infoContent .title {
    padding: 5px 12px;
    font-size: 12px;
  }
  .separator{
    margin: 17px 0;
  }
  .contactTitle{
    font-size: 13px;
  }
  .contactInfo :is(.contactLink, time, address){
    font-size: 14px;
  }
}
